html {
    background: rgb(255, 255, 255);
}

body {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    line-height: 17pt;
    color: rgb(10, 10, 10);
    position: relative;
}

a {
    color: rgb(255, 51, 0);
}

h1 {
    font-size: 20pt;
    font-weight: 900;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(255, 51, 0);
    width: 325px;
}

h2 {
    font-size: 16pt;
    font-weight: 900;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(255, 51, 0);
    width: 325px;
}

h3 {
    font-size: 13pt;
    font-weight: 500;
    padding-bottom: 10px;
}

p, ol {
    padding-bottom: 13px;
}

header {
    background: transparent url(MageUC-Logo.png) center 120px no-repeat;
    height: 130px;
    padding: 250px 0 10px 0;
    text-align: center;
    font-size: 11pt;
}

.wrapper {
    background: url(cream_dust.png);
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid rgb(151, 151, 151);
    border-right: 1px solid rgb(151, 151, 151);
}

section {
    padding: 75px 175px 107px 175px;
    background: url(logo-hr.png) center bottom no-repeat;
}

#thanks, #about, #getticket, #financial {
    background: none;
    padding-bottom: 75px;
}

#getticket {
    text-align: center;
    font-size: 24pt;
    font-weight: 500;
    padding-bottom: 0px;
}

#getticket a {
    color: rgb(255, 51, 0);
    text-decoration: none;
}

#getticket a:hover {
    text-decoration: underline;
}

#karte {
    margin: 50px 0;
    line-height: 0;
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}

#financial, #location {
    padding-left: 0;
    padding-right: 0;
}

#financial .white {
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
    padding: 50px 0;
}

#financial h2, #financial p, #location h2, #location p {
    margin-left: 175px;
    margin-right: 175px;
}

#graph {
    position: relative;
    padding-top: 40px;
    margin-bottom: 50px;
}

#graph li {
    float: left;
    position: absolute;
    height: 65px;
    bottom: 0px;
    width: 20%;
    border-left: 1px solid rgb(151, 151, 151);
    padding-left: 7px;
    font-size: 10pt;
}

#graph li.goal1 {
    left: 15%;
}

#graph li.goal2 {
    left: 35%;
}

#graph li.goal3 {
    left: 65%;
}

#bar {
    height: 20px;
    width: 100%;
    /* Rectangle 11: */
    background: rgba(232, 78, 15, 0.15);
    background-image: -o-linear-gradient(-179deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    background-image: -moz-linear-gradient(-179deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    background-image: -ms-linear-gradient(-179deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    background-image: linear-gradient(-269deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);

}

#progress {
    background-color: rgba(255, 51, 0, 1);
    height: 20px;
    width: 7%;
}

#about {
    background: rgb(255, 51, 0);
    color: rgb(255, 255, 255);
}

.redbar {
    background: rgb(255, 51, 0);
    height: 30px;

}

footer {
    font-size: 9pt;
    background: rgb(255, 51, 0);
    line-height: 14pt;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

footer a {
    color: rgb(255, 255, 255);
}

img.sponsorlogo {
    margin-top: 20px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
        min-width: 430px;
    }

    section {
        padding: 5% 15% 10% 15%;
    }

    #financial h2, #financial p, #location h2, #location p {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

    header {
        background: transparent url(MageUC-Logo@2x.png) center 120px no-repeat;
        background-size: 360px 117px;
    }

    section {
        background: url(logo-hr@2x.png) center bottom no-repeat;
        background-size: 32px 32px;
    }

    .wrapper {
        background: url(cream_dust@2x.png);
        background-size: 50px 5px;
    }
}
