html {
    background: rgb(255, 255, 255);
}

body {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    line-height: 17pt;
    color: rgb(10, 10, 10);
    position: relative;
}

strong {
    font-weight: bold;
}

a {
    color: rgb(255, 51, 0);
}

h1 {
    font-size: 20pt;
    font-weight: 900;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(255, 51, 0);
    width: 75%;
}

h2 {
    font-size: 16pt;
    font-weight: 900;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(255, 51, 0);
    width: 75%;
}

h3 {
    font-size: 13pt;
    font-weight: 500;
    padding-bottom: 10px;
}

h4 {
    font-weight: 500;
    padding-bottom: 10px;
}

p, ol {
    padding-bottom: 13px;
}

.credit {
    text-align: right;
    font-size: 0.75rem;
    color: rgb(151, 151, 151);
    margin-top: 0;
}

header {
    background: transparent url(img/MageUC-Logo.png) center 120px no-repeat;
    height: 130px;
    padding: 250px 0 10px 0;
    text-align: center;
    font-size: 11pt;
}

.wrapper {
    background: url(img/cream_dust.png);
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid rgb(151, 151, 151);
    border-right: 1px solid rgb(151, 151, 151);
}

section {
    padding: 75px 175px 107px 175px;
    background: url(img/logo-hr.png) center bottom no-repeat;
}

#tools-for-bloggers, #about, #getticket {
    background: none;
    padding-bottom: 75px;
}

#getticket {
    text-align: center;
    font-size: 24pt;
    font-weight: 500;
    padding-bottom: 0px;
}

#getticket a {
    color: rgb(255, 51, 0);
    text-decoration: none;
}

#getticket a:hover {
    text-decoration: underline;
}

#karte {
    margin: 50px 0;
    line-height: 0;
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}

#financial, #location {
    padding-left: 0;
    padding-right: 0;
}

#financial .white {
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
    padding: 50px 0;
}

#financial h2, #financial p, #location h2, #location p {
    margin-left: 175px;
    margin-right: 175px;
}

#graph {
    position: relative;
    padding-top: 40px;
    margin-bottom: 50px;
}

#graph li {
    float: left;
    position: absolute;
    list-style: none;
    height: 65px;
    bottom: 0px;
    width: 20%;
    border-left: 1px solid rgb(151, 151, 151);
    padding-left: 7px;
    font-size: 10pt;
}

#graph li.goal1 {
    left: 12%;
}

#graph li.goal2 {
    left: 24%;
}

#graph li.goal3 {
    left: 47%;
}

#graph li.goal4 {
    left: 65%;
}

#graph li.goal5 {
    left: 85%;
}

#bar {
    height: 20px;
    width: 100%;
    /* Rectangle 11: */
    background: rgba(232, 78, 15, 0.15);
    background-image: -o-linear-gradient(-179deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    background-image: -moz-linear-gradient(-179deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    background-image: -ms-linear-gradient(-179deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    background-image: linear-gradient(-269deg, rgba(232, 78, 15, 0.07) 0%, rgba(232, 78, 15, 0.00) 100%);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);

}

#progress {
    background-color: rgba(255, 51, 0, 1);
    height: 20px;
    width: 8%;
}

#about {
    background: rgb(255, 51, 0);
    color: rgb(255, 255, 255);
}

.redbar {
    background: rgb(255, 51, 0);
    height: 30px;

}

footer {
    font-size: 9pt;
    background: rgb(255, 51, 0);
    line-height: 14pt;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

footer a {
    color: rgb(255, 255, 255);
}

#sponsors {
    padding-left: 175px;
    padding-right: 175px;
}

#sponsors li {
    float: left;
    list-style: none;
}

#sponsors a {
    display: inline-block;
    width: 20%;
    height: 75px;
}

img.sponsorlogo {
    margin-top: 20px;
    margin-right: 50px;
}

ul, ol {
    padding-left: 1.2rem;
    margin-bottom: 1rem;
    padding-right: 4rem;
}

li {
    list-style-type: square;
}

small {
    font-size: 0.9rem;
}

dt {
    font-weight: bold;
}

dd {
    padding-left: 1.2rem;
    margin-bottom: 0.6rem;
}

table {
    margin-bottom: 12px;
    width: 100%;
}

th, td {
    padding: 2px 4px;
}

th {
    text-align: left;
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 51, 0);
}

tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.05);
}

tr.talk td/*:nth-child(3)*/  {
    color: rgb(128, 128, 128);
}

tr:last-child td {
    border-bottom: 2px solid rgb(255, 51, 0);
}

#gallery:after {
    content: "";
    clear: both;
    display: block;
}

blockquote{
    position: relative;}

blockquote p:before {
    content: '„\00a0';
    color: rgba(255, 51, 0, 1);
    font-size: 30px;
    font-family: Georgia, serif;
    position:absolute;
    left:0px;
    top:-5px;
}

blockquote p:after {
    content: '\00a0“';
    color: rgba(255, 51, 0, 1);
    font-size: 30px;
    font-family: Georgia, serif;
    position: absolute;
    line-height: 30px;

}
blockquote p {
    padding-left:19px;
    padding-bottom: 7px;
}
blockquote ~ p {
    font-family: Georgia, serif;
    text-align: right;
    color: rgb(151, 151, 151);
    margin-right: 10%;
}

figure {
    position: relative;
    width: 30%;
    float: left;
    margin: 5% 5% 0 0;
}

.portrait {
    width: 15%;
}

figure:before {
    content: '';
    display: block;
    margin-top: 66.6666%;
}

.portrait:before {
    margin-top: 130%;
}

figure:nth-child(3n+0) {
    margin-right: 0;
}

figure div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    max-height: 100%;
    max-width: 100%;

    text-align: center;
}

figure img {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 5px solid white;
    max-height: 94%;
}

.portrait img {
    max-height: 97%;
}

.framed {
    width: 630px;
    height: auto;
    padding: 10px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
}

p > .framed {
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
        min-width: 430px;
    }

    section {
        padding: 5% 15% 10% 15%;
    }

    #financial h2, #financial p, #location h2, #location p {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {

    header {
        background: transparent url(img/MageUC-Logo@2x.png) center 120px no-repeat;
        background-size: 360px 117px;
    }

    section {
        background: url(img/logo-hr@2x.png) center bottom no-repeat;
        background-size: 32px 32px;
    }

    .wrapper {
        background: url(img/cream_dust@2x.png);
        background-size: 50px 5px;
    }
}
